server {
    listen 80;
    listen [::]:80;
    server_name IP_PUBLIC_VPS;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 308 https://$host$request_uri;
    }
}
